/*  Authors:    Michael Middleton (mmiddleton)
 *  Project:    CheepEats [DESKTOP]
 *  Created:    15 April 2016
 *  Updated:    10 May 2016 - 3:06 EST
 */

html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Exo', sans-serif;
}

.hidden {
    display: none;
    visibility: hidden;
}

*:focus {
    outline-width: 0;
}

body {
    margin: 0;
}


div.container {
    
}

h1#cheepeats {
    font-family: 'Poiret One', 'Exo', sans-serif;
    font-weight: bolder;
    font-size: 300%;
    margin-bottom: 20%;
}

h2#cheepeats {
    font-family: 'Poiret One', 'Exo', sans-serif;
    font-weight: bolder;
    font-size: 2vw;
    margin-top: 40%;
    margin-left: 45%;
}

footer {
    position: absolute;
    left: 41%;
    bottom: 0;
    padding: 1%;
    color: white;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
        margin: 0; 
}


/*      Login / Create Account / Account Recovery    */
.box {
    color: white;
    text-align: center;
    margin: 10% 35%;
}
.box input {
    display: block;
    margin: 8% auto 5%;
    color: white;
    width: 75%;
    border: none;
    border-bottom: 2px solid white;
    border-color: white;
    font-family: 'Antic', sans-serif;
}
.box input:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid white;
}
.box input[type=text]#userid {
    border: none;
    border-bottom: 2px solid white;
    padding: 3%;
    padding-left: 10%;
    background: transparent url('../img/user.png') no-repeat left center;
}
.box input[type=text]#emailaddr {
    border: none;
    border-bottom: 2px solid white;
    padding: 3%;
    padding-left: 10%;
    background: transparent url('../img/email.png') no-repeat left center;
}

.box input[type=password] {
    border: none;
    border-bottom: 2px solid white;
    padding: 3%;
    padding-left: 10%;
    background: transparent url('../img/password.png') no-repeat left center;
}
.box input#submit {
    display: block;
    width: 10vw;
    height: 5vh;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-decoration: none;
    margin: 2% auto;
    cursor: pointer;
}
.box input#submit:hover {
    font-weight: bolder;
    font-style: bold;
    background-color: #327134;
    font
}

.box a {
    text-align: center;
    padding: 1%;
    cursor: alias;
    display: block;
    margin: 0;
}
/*      /Login, Create Account, Account Recovery      */


/*      Main CheepEats Page:                        */
.hud {
    float: left;
    color: white;
    background: #1c1c1c;
    border: none;
    height: 100vh;
    margin: 0;
    padding: .5vh 1.2vw;
}

/*      LEFT:       */
.hud.left {
    padding: 0;
    border-right: solid;
    border-color: #a3a8a3;
    width: 20%;
}

.hud.left #logo {
    background: url(../img/logo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    float: left;
    margin-top: 30%;
    height: 15vh;
    width: 8vw;
}

.hud.left #options {
    display: block;
    margin-top: 10vh;
}

.hud.left #options  h3 {
    padding: 2% 4%;
    font-size: 1.5vw;
    margin: 0;
}

.hud.left #options h3:hover {
    color: #e3c25f;
}

#Food-Type {
    background: #ef4e68;
    color: #540815;
}

#Money {
    background: #393;
    color: #0f2e0f;
}

#Location {
    background: #3dbbc2;
    color: #17474a;
}


#parameters {
    position: relative;
    width: 95%;
    text-align: center;
    padding: 2%;
    margin-top: 5vh;
}

#parameters * {
    font-size: 1.1vw;
}

.hud.left #parameters select{
    color: white;
    background: none;
    border: none;
    border-bottom: 1px;
    width: 100%;
    margin-top: 20%;
    font-size: 100%;
}

.hud.left #parameters input {
    display: block;
    margin: 8% auto 5%;
    color: white;
    width: 30%;
    border: none;
    border-bottom: 1px solid white;
    border-color: white;
    font-family: 'Antic', sans-serif;
    padding: 3%;
    padding-left: 25%;
    font-size: 120%;
}

.hud.left #parameters #money-input {
    background: transparent url('../img/cash.png') no-repeat left center;
}

.hud.left #parameters #loc-input {
    background: transparent url('../img/map.png') no-repeat left center;
}

.hud.left #parameters a {
    color: white;
}

.hud.left #parameters a:hover {
    text-decoration: none;
    font-style: italic;
    color: #d0b871;
}

.hud.left a.button {
    text-decoration: none;
    color: #1f1a0a;
    position: absolute;
    border-radius: .2vw;
    bottom: 8%;
    left: 6.5%;
    background: #d0b871;
    text-align: center;
    padding: .0 .5% 1%;
    width: 5.5%;
    height: 4%;
    font-size: 1vw;
}


.hud.left a.button:hover {
    font-weight: 900;
    background: #998033;
    color: #d6c285;
}

.footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 7%;
    font-size: 10%;
}
/*  /LEFT   */



/*  CENTER  */
.hud.center {
    width: 55%;
    border-right: solid;
    border-color: #a3a8a3;
}

.infowindow * {
    color: black;
}


/*  /CENTER */



/*  RIGHT   */
.hud.right {
    float: none;
    margin-left: 77%;
    padding: 2w;
}

.hud.right #logout {
    background: url('../img/logout.png');
    position: absolute;
    top: 2vh;
    right: 2vw;
    width: 2vw;
    height: 4vh;
    background-repeat: no-repeat;
    background-size: 100%;
}

.hud.right #logout:hover {
    background: url('../img/logout_hover.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.hud.right * {
    font-size: 1.5vw;
}

.hud.right h4 {
    color: #EF4E68;
    text-align: center;
}

.hud.right ul {
    position: absolute;
    right: 0;
    top: 21vh;
    width: 22vw;
    height: 6vh;
    padding: 0;
}

.hud.right ul li{
    display: inline-block;
    text-decoration: none;
    background: #4d4d4d;
    width: 11vw;
    height: 5vh;
    padding: 0;
    margin: -.15vw;
}

.hud.right ul li:hover {
    background: #6e6e6e;
}

.hud.right ul .ui-tabs-active {
    background: #6e6e6e;
}

.hud.right .PlacesAndNestNav li {
    text-align: center;
    padding-top: 1vh;
}

.hud.right .PlacesAndNestNav li a {
    color:  #1f1a0a;
    text-decoration: none;
}

.hud.right #PlacesAndNest div {
    position: absolute;
    top: 29.45vh;
    right: 0;
    width: 22.1vw;
    height: 62vh;
    padding: 0;
    overflow: scroll;
}

.hud.right #PlacesAndNest div * {
    margin: 0;
    font-size: 1vw;
}

/*  This is for the items that will change based on the user. */
.hud.right #PlacesAndNest div .pnItem {
    text-align: left;
    position: relative;
    display: block;
    top: 0;
    height: 12vh;
    background: #8f8f8f;
}

.hud.right #PlacesAndNest div .pnItem img {
    float: right;
    top: 0;
    right: 0;
}

.hud.right #PlacesAndNest div .pnItem img:hover {
    cursor: pointer;
}

.hud.right #PlacesAndNest div .pnItem h4 {
   text-align: left; 
   font-size: 1.2vw;
   padding-top: 1vh;
   padding-left: .5vw;
   color: #4d4d4d;
}

.hud.right #PlacesAndNest div .pnItem p {
    padding-left: .5vw;
}


.hud.right #PlacesAndNest div .pnItem h4 {
    color: #131513;
}

.hud.right #PlacesAndNest div .pnItem:hover {
    background: #c7c3b8;
}

.hud.right #PlacesAndNest div .pnItem:hover p {
    color: #131513;
}

.hud.right #add-to-nest {
    background: #d0b871;
    color: #1f1a0a;
    margin: 0;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 22.15vw;
    height: 8.5vh;
    bottom: 0;
    right: 0;
}

.hud.right #add-to-nest:hover {
    font-weight: 900;
    background: #998033;
    color: #d6c285;
}
/*  /RIGHT  */
