<!DOCTYPE html>
<html>
    <head>
        <title>CheepEats</title>
        <!--    Website Data:   -->
        <meta charset="UTF-8">
        <meta name="author" content="Michael Middleton">
        <meta name="update" content="11 May 2016 - 3:05 EST"
        <link rel="shortcut icon" style="image/x-icon" href="{{ url_for ('static', filename='cheepeats.ico')}}"/>

        <!--    CSS:    -->
        <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='stylesheets/borb-desktop.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='stylesheets/borb-mobile.css') }}"/>
        <link rel='stylesheet' type='text/css'href='https://fonts.googleapis.com/css?family=Poiret+One|Exo|Antic' />
        
        <!--    Javascript/jQuery:  -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script type="text/javascript" src="{{ url_for ('static', filename='scripts/ui-script.js')}}"></script>

    </head>
    <body>
        <div id="hud-left" class='hud left'>
            <div id='logo'></div>
            <h2 id='cheepeats'>CheepEats</h2>
            <div id="options">
                <h3 id='Food-Type'>&#62; Food Type</h3>
                <h3 id='Money'>&#62; Price</h3>
                <h3 id='Location'>&#62; Location</h3>
            </div>
            <div id='parameters'><br><br><p>To begin, please select one of the options above.</p></div>
            <a href="#" class='button' id="cheep-cheep">Cheep Cheep!</a>
            <p class='footer'>CheepEats &copy; 2016<br>All Rights Reserved.</p>
        </div> <!-- /hud-left   -->

        
        
        <div class='hud center' id='map'>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCotT75yEXIBZajlKR0tBJh7n6SahMXrY&libraries=places&callback=initMap"></script>
            <script src="{{ url_for ('static', filename='scripts/map-script.js') }}"></script>
        </div>
        
        
        
        
        <div class='hud right'>
            <div id='status'>
                <a href='logout' id='logout'> </a>
                <h3>Welcome, </h3>
                <h4>{{ userid }}</h4>
            </div>
            <div id='PlacesAndNest'>
                <ul class='PlacesAndNestNav'>
                    <li><a href='#places'>Places</a></li>
                    <li><a href="#nest">My Nest</a></li>
                </ul>
                <div id='places'>
                    <br>
                    <br>
                    <p>This area will be populated once you start to search.</p>
                </div>
                <div id='nest'>
                    <br>
                    <br>
                    <p>Hm... Looks like you haven't added any places to your Nest yet. Search for some cheap eats now!</p>
                </div>
            </div>  <!-- /end PlacesAndNest -->
            <a href="#" id='add-to-nest'>Add to My Nest</a>
        </div> <!-- /end hud.right  -->
    </body>
</html>
