<!--
Authors:    Michael Middleton (mmiddleton)
Project:    CheepEats [DESKTOP]
Created:    15 April 2016
Updated:    15 April 2016
-->

<!DOCTYPE html>
<html>
    <head>
        <!--    Website Data:   -->
        <title>Account Recovery - CheepEats</title>
        <meta charset="UTF-8">
        <meta author="Michael Middleton">
        <meta update="7 May 2016 - 19:53 EST"
        <link rel="shortcut icon" style="image/x-icon" href="{{ url_for ('static', filename='cheepeats.ico')}}"/>

        <!--    CSS:    -->
        <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='stylesheets/borb-desktop.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='stylesheets/borb-mobile.css') }}"/>
        <link rel='stylesheet' type='text/css'href='https://fonts.googleapis.com/css?family=Poiret+One|Exo|Antic' />
        <style>
            body {
            background: url("{{ url_for ('static', filename = ('background/' + background + '.png')) }}");
            background-size: cover;
            background-repeat: no-repeat;
            }
        </style>

        <!--    Javascript/jQuery:  -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script type="text/javascript" src="{{ url_for ('static', filename='scripts/ui-script.js')}}"></script>

    </head>

    <body>
        {% if error != None %}
        <p id='error'>{{ error }}</p>
        {% endif %}
        <div class="containter">
            <div class="box">
                <h1>Account Recovery:</h1>
                <form method='POST'>
                    <input type='text' name="userid" id='userid' value='Username'/>
                    <input type='text' name="emailaddr" id='emailaddr' value='Email Address'/>
                    <input type='submit' name='submit' value='Recover' id='submit' />
                </form>
            </div> <!-- /recoverybox -->
        </div> <!-- /container -->

        <footer>
            <p>CheepEats &copy 2016 All rights reserved.</p>
        </footer>
    </body>
</html>
